.notFound {
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

.notFound h1 {
  font-size: 4rem;
}

.homeLink {
  margin-top: 100px;
}

.notFound a {
  text-decoration: none;
  border: 1px solid black;
  background-color: black;
  color: #fff;
  padding: 1rem 2rem;
}