.container {
  display: flex;
  justify-content: space-around;
  column-gap: 2rem;
}

.card {
  width: 300px;
  height: 150px;
  border: 1px solid black;
  text-align: center;
  margin-top: 50px;
}

.card h3 {
  margin-top: 10px;
}