.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  margin: 10px 0;
}

.form {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
}