.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  margin: 20px 0;
}

.container div {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.container div div {
  margin: 0 1rem;
  text-align: center;
  margin-top: 50px;
}

.container a {
  text-decoration: none;
  font-size: 2rem;
  border: 1px solid black;
  background-color: black;
  color: #fff;
  padding: 1rem 2rem;
  width: 500px;
}