.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  row-gap: 5rem;
}

.container h1 {
  text-align: center;
  font-size: 4rem;
  margin-top: 100px;
}

.container div {
  height: 100%;
  display: flex;
  text-align: center;
}

.container a {
  text-decoration: none;
  font-size: 2rem;
  border: 1px solid black;
  background-color: black;
  color: #fff;
  padding: 1rem 2rem;
  width: 400px;
}