.container ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.container li {
  margin: 0 1rem;
  /* width: 5rem; */
  text-align: center;
  margin-top: 50px;
}

.container a {
  /* color: white; */
  text-decoration: none;
  font-size: 2rem;
  border: 1px solid black;
  background-color: black;
  color: #fff;
  padding: 1rem 2rem;
}