.container {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
  margin-top: 50px;
}

.card h3 {
  margin-top: 10px;
}

.card button {
  margin-top: 30px;
  text-decoration: none;
  border: 1px solid black;
  background-color: black;
  color: #fff;
  padding: 1rem 2rem;
}